@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
:root{
    --fonte-destaque: 'Press Start 2P', cursive;
    --fonte-normal: 'Mitr', sans-serif;
}
body{
    background-image: linear-gradient(45deg, #3261FA,#0D7EDE,#1CD6F5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.cabeçalho{
    font-size: 22px;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.cabeçalho-menu{
    display: flex;
    gap: 32px;
}
.cabeçalho-menu-item{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: var(--fonte-normal);
    font-size: 20px;
    
}
.conteudo{
    border-top: 0.4px solid #e2aa62;
    margin-bottom: 47px;
    
         
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.conteudo-principal-escrito{
    display: flex;
    gap: 32px;
    flex-direction: column;
    
}
.titulo-conteudo-principal-titulo{
    font-family: var(--fonte-destaque);
    color: rgb(251, 125, 7);
    font-size: 40px;
    border-right: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    letter-spacing: 4px;
}
.tipo-animacao{
    animation: pisca 600ms infinite ease-in-out, acao 3.5s infinite steps(50) 2s normal both; 

}
@keyframes acao {
    from{
        width: 0;
    }
    to{
        width: 9.3em;
        
    }
    
}
@keyframes pisca{
    from{
        border-right-color: rgb(255, 255, 255);
    }
    to{
        border-right-color: transparent;
    }
}
.picareta{
    width: 200px;
    height: 200px;
    animation: quebra 2s infinite;

}
@keyframes quebra{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }

}
.titulo-conteudo-principal-subtitulo{
    font-family: var(--fonte-normal);
    color: white;
    font-weight: 300;
    font-size: 23px;
}
button{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 50px;
    margin: 15px;
    font-family: var(--fonte-normal);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.ceu-pai{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.conteudo-segundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.conteudo-segundario-titulo{
    margin-top: 20px;
    font-family: var(--fonte-destaque);
    margin-bottom: 50px;
    font-size: 25px;
    color: rgb(251, 125, 7);
}
.detalhes{
    padding: 1em;
	border-radius:4px;
	margin: 25px;
    background-color: white;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
    width: 400px;
    font-family: var(--fonte-destaque);
    font-size: 15px;
}
[open].detalhes {
	background-color: rgba(0,0,0,0.1);
	max-height: 400px;
    color: white;
}
.conteudo-sumario > p{
    font-family: var(--fonte-normal);
    font-size: 16px;
    text-align: center;
}
.detalhes summary {
	outline: none;
	cursor: pointer;
    font-size: 15px;
    
}
   
[open].detalhes summary {
	padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gif{
    width: 400px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
    display: block;
}
.gif-dinheiro{
    width: 300px;
    padding-top: 30px;
    height: 200px;
    margin: auto;
    display: block;
}
.rodape{
    color: white;
    margin: 0px;
    font-family: var(--fonte-normal);
    padding: 0px;
    text-align: center;
    background-position: center center;
    opacity: 0.9;
    width: 100vw;
    background-image: url("https://i.pinimg.com/564x/0f/fa/e3/0ffae3941d35c380d3ce2eeff7ea6b8b.jpg");
}
.rodape > p a{
    text-decoration: none;
    color: turquoise;
    padding-top: 20px;
}
.rodape > p a:hover{
    text-decoration: underline;
}
.container-bloco{
    display: flex;
    align-items: center;
}
.bloco{
    margin: 20px auto 0px auto;
    transition-duration: 1.5s;
    transition-delay: 0.3s;
    width: 200px;
    height: 200px;
}
.bloco:active, .bloco:hover{
    transform: rotate(360deg);
}